@font-face {
  font-family: "Recursive";
  src: url("./assets/fonts/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: oblique -10deg 0deg;
  font-display: swap;
}
:root {
  --font-rubik: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style-type: none;
}

html {
  cursor: default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  min-height: 100svh;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx) {
  .main * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
